<!DOCTYPE html>
<head xmlns="http://www.w3.org/1999/html">
    <title>spot detect</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src = "https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <input type="button" title="Open Camera" value="Open Camera" onclick="getMedia();" /><br />
    <center><video height="400px" autoplay="autoplay"></video><hr /></center>
    <input type="button" title="getPhoto" value="getPhoto" onclick="getPhoto();" />
    <input type="button" title="detect" value="detect" id = "detect" onclick="detect()"/><br />
    <center><canvas id="canvas1" height="300px" width="400" ></canvas><hr /></center>


    <script type="text/javascript">
        var video = document.querySelector('video');

        var canvas1 = document.getElementById('canvas1');
        var context1 = canvas1.getContext('2d');
        var imgData = canvas1.toDataURL("image/png");
        var data=imgData.substr(22);
        var xmlhttp;
        var name_for_reg = document.getElementById("name").value;
        function getCookie(name) {
	        var cookieValue = null;
	        if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		        	var cookie = jQuery.trim(cookies[i]);
			        // Does this cookie string begin with the name we want?
		        	if (cookie.substring(0, name.length + 1) == (name + '=')) {
			        	cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			        	break;
                    }
		        }
	        }
	        return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        if (window.XMLHttpRequest)
        {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        }
        else
        {// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }

        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
        window.URL = window.URL || window.webkitURL || window.mozURL || window.msURL;

        var exArray = []; //存储设备源ID#}
        MediaStreamTrack.getSources(function (sourceInfos) {
            for (var i = 0; i != sourceInfos.length; ++i) {
                var sourceInfo = sourceInfos[i];#}
                //这里会遍历audio,video，所以要加以区分#}
                if (sourceInfo.kind === 'video') {
                    exArray.push(sourceInfo.id);
                }
            }
        });

        function getMedia() {
            if (navigator.getUserMedia) {
                navigator.getUserMedia({
                    'video': {
                       'optional': [{
                            'sourceId': exArray[1] //0为前置摄像头，1为后置#}
                        }]
                    },
                    'audio':false
                }, successFunc, errorFunc);    //success是获取成功的回调函数
            }
            else {
                alert('Native device media streaming (getUserMedia) not supported in this browser.');
            }
        }

        function successFunc(stream) {
            //alert('Succeed to get media!');
            if (video.mozSrcObject !== undefined) {
                //Firefox中，video.mozSrcObject最初为null，而不是未定义的，我们可以靠这个来检测Firefox的支持
                video.mozSrcObject = stream;
            }
            else {
                video.src = window.URL && window.URL.createObjectURL(stream) || stream;
            }

            //video.play();
        }
        function errorFunc(e) {
            alert('Error！'+e);
        }

        function detect() {
            imgData = canvas1.toDataURL("image/png");
            data=imgData.substr(22);
            $.post("/deliver/",{'img':data, 'csrfmiddlewaretoken': csrftoken},function(){window.location.href="http://13.65.151.139:8000/list/spot/"+data["landmark"]},'json')
        }
        //拍照
        function getPhoto() {
            context1.drawImage(video,0,0,400,300);
        }
    </script>
</body>

